
button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0vh;
  /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(136, 136, 136);
  /* Set the color of the thumb */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* Set the color of the track */
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: transform 0.1s ease;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 5px 2px white;
}

.cursor-follower {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9998;
  border: 1px solid black;
  transition: transform 0.15s ease;
  backdrop-filter: blur(2px);
}

canvas {
  min-height: 250px;
  min-width: 250px;
}


.custom-navbar {
  box-shadow: rgba(0, 0, 0, 0.05) 0px -3px 0px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}


@keyframes hover {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
  }
}

@keyframes hover-horizontal {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateX(-70px);
  }
}

@keyframes scale {

  0%,
  100% {
    height: 150px;
  }

  50% {
    height: 70px;
  }
}

.common-btn {
  padding: 10px 48px !important;
  color: rgb(73, 183, 223);
  background-color: white;
  border-radius: 32px;
}

.common-btn-2 {
  padding: 10px 48px !important;
  color: white;
  color: black;
  border-radius: 32px;
  transition: .5s ease;
  border: none !important;
  background-color: rgb(194, 233, 251, 0.5);
  box-shadow: rgba(194, 233, 251, 0) 0px -32px 32px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.common-btn-2:hover {
  transition: 1s ease;
  box-shadow: rgba(194, 233, 251, 1) 0px -32px 32px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.project-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  opacity: 0;
  z-index: 90;
  border-radius: 32px;
}

.project-card:hover::before {
  opacity: 1;
}

.project-img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.project-button {
  box-shadow: rgba(0, 0, 0, 0.05) 0px -3px 0px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.project-button:hover {
  box-shadow: rgba(118, 155, 215, 0.5) 0px -32px 32px 0px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.06) 0px 4px 2px 0px inset, rgba(0, 0, 0, 0.04) 0px 0px 24px 4px inset, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.project-1 {
  z-index: 100;
}

.project-2 {
  z-index: 120;
}

.project-3 {
  z-index: 130;
}

.project-4 {
  z-index: 140;
}

.project-5 {
  z-index: 131;
}

.button-left {
  text-decoration: none !important;
}


@media screen and (max-width: 800px) {
  .cursor {
    display: none;
  }

  .cursor-follower {
    display: none;
  }
}