body {
  background-color: #ffffff;
  /* width: 100vw; */
}

:root {
  --color-design: #ff4d4f;
  --color-frontend: #f7362b;
  --color-fullstack: #e11d48;

  --shadow-design: rgba(255, 77, 79, 0.4);
  --shadow-frontend: rgba(247, 54, 43, 0.4);
  --shadow-fullstack: rgba(225, 29, 72, 0.4);

  --theme-color-rgb: 247, 54, 43;
}

/* ------------------------------------ */
/* lenis  */
/* ------------------------------------ */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}